<div> 
    <div class="header">  
        <div fxLayout="row" fxFlex="100">
            <div fxFlex="5"></div>
            <!-- <div fxFlex="15" class="app-icon"></div> -->
            <img src="./../../../assets/imgs/logo.png" alt="op" width="123" height="123">
            <div fxFlex="35"></div>
            <div fxFlex="35">
                <div fxLayout="row" style="margin-top: 1.5rem;"fxLayoutAlign="space-evenly center" >  
                    <a>Products</a>
                    <a>Solutions</a>
                    <a>Pricing</a>
                    <button mat-raised-button class="tertiary-btn">
                        Login
                    </button>
                    <button mat-raised-button class="primary-btn">
                        Get Started
                    </button>
                </div>
            </div>
            <div fxFlex="10"></div>

        </div>

    </div>
</div>
   
